<main>
  <div class="header-actions">
    <button (click)="ToggleSide()" mat-icon-button fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">
      <span>LOGO</span>
    </a>
  </div>
  <div class="navigation-links" fxHide.xs>
    <a routerLink="/login" *ngIf="!isAuth">
      <span>Login</span>
    </a>
    <a routerLink="/signup" *ngIf="!isAuth">
      <span>Signup</span>
    </a>
    <a routerLink="/training" *ngIf="isAuth">
      <span>Training</span>
    </a>
    <a *ngIf="isAuth">
      <span>Logout</span>
    </a>
  </div>
</main>
